// 测试 stylelint 的配置
.test {
  position: relative;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid #000000;
  border-radius: 50%;
  background: #ffffff;
  background-color: #cccccc;
}
