$color-primary: #409eff;
$color-white: #ffffff;
$color-black: #000000;
$color-success: #67c23a;
$color-warning: #e6a23c;
$color-danger: #f56c6c;
$color-info: #909399;
$color-default: #606266;
$color-gray: #dcdfe6;

// 禁用
$default-disabled-color: #c0c4cc;
$default-disabled-background: #ffffff;
$default-disabled-border: #ebeef5;
$primary-disabled-background: #a0cfff;
$primary-disabled-border: #a0cfff;
$success-disabled-background: #b3e19d;
$success-disabled-border: #b3e19d;
$info-disabled-background: #c8c9cc;
$info-disabled-border: #c8c9cc;
$warning-disabled-background: #f3d19e;
$warning-disabled-border: #f3d19e;
$danger-disabled-background: #fab6b6;
$danger-disabled-border: #fab6b6;
