:root {
  --z-font-size-base: 14px;
  --z-color-white: #ffffff;
  --z-text-color-placeholder: #a8abb2;
  --z-text-color-regular: #606266;
  --z-color-primary: #409eff;
  --z-color-primary-light-7: #c6e2ff;
  --z-color-info-light-5: #c8c9cc;
  --z-color-disabled-light-5: #c0c4cc;
  --z-bg-color-disabled-light: #edf2fc;
  --z-border-color-light: #e4e7ed;
  --z-bg-color: var(--z-color-white);
  --z-bg-color-default: var(--z-text-color-regular);
  --z-bg-color-primary: var(--z-color-primary);
  --z-bg-color-disabled: var(--z-bg-color-disabled-light);
  --z-disabled-text-color: var(--z-text-color-placeholder);
  --z-button-disabled-border-color: var(--z-color-info-light-5);
  --z-border-width: 1px;
  --z-border-style: solid;
  --z-border-color: #dcdfe6;
  --z-border-radius-base: 4px;
  --z-border: var(--z-border-width) var(--z-border-style) var(--z-border-color);
  --z-transition-all: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  // fill
  --z-fill-color-light: #f5f7fa;
}

$color-primary: #409eff;
$color-white: #ffffff;
$color-black: #000000;
$color-success: #67c23a;
$color-warning: #e6a23c;
$color-danger: #f56c6c;
$color-info: #909399;
$color-default: #606266;
$color-gray: #dcdfe6;

// 禁用
$default-disabled-color: #c0c4cc;
$default-disabled-background: #ffffff;
$default-disabled-background-1: #edf2fc;
$default-disabled-border: #ebeef5;
$primary-disabled-background: #a0cfff;
$primary-disabled-border: #a0cfff;
$success-disabled-background: #b3e19d;
$success-disabled-border: #b3e19d;
$info-disabled-background: #c8c9cc;
$info-disabled-border: #c8c9cc;
$warning-disabled-background: #f3d19e;
$warning-disabled-border: #f3d19e;
$danger-disabled-background: #fab6b6;
$danger-disabled-border: #fab6b6;

// link hover
$primary-hover-color: #66b1ff;
$success-hover-color: #85ce61;
$warning-hover-color: #ebb563;
$danger-hover-color: #f78989;
$info-hover-color: #a6a9ad;

// calendar
$calendar-color: #1989fa;
$calendar-background-color: #f2f8fe;
$calendar-border-color: #ebedf1;
